In [1]:
import pyreadstat #reading sas, spss etc
import pandas as pd  #for the stats
import numpy as np #for the stats
import scipy as scipy #for the stats

In [2]:
######################### data manipulation#################################
#read spss file as pandas DF
df, meta = pyreadstat.read_sav("C:\\Users\\Jens\\Documents\\2019\\Python\\V0.1\\data.sav", apply_value_formats=True, formats_as_category=True)

In [3]:
#see what we've got
df.head()

,id,lastpage,b2,D1_SQ005,E1,E11,E2_SQ001,E2_SQ002,E2_SQ003,E22,...,E3_SQ003,E3_SQ004,E3_SQ005,E3_SQ006,E3_SQ007,E3_SQ008,E3_SQ009,E33,G1,H1
0,158.0,19.0,Student,A2,Strukturierte Raumgestaltung mit mehreren Kabinen,"Besseres Licht- und Raumkonzept im Magazin, da...",1 = sehr wichtig,4,2,Whiteboard o.ä. wäre nützlich.,...,1 = sehr wichtig,5 = überhaupt nicht wichtig,5 = überhaupt nicht wichtig,2,2,1 = sehr wichtig,2,,Maskulin,
1,270.0,19.0,Student,A2,"Mischform (teilweise strukturiert, teilweise f...","Heller raum, weniger grau, verstellbare stühle...",1 = sehr wichtig,1 = sehr wichtig,1 = sehr wichtig,Verschlossene getränke abseits von wasser mitn...,...,1 = sehr wichtig,3,5 = überhaupt nicht wichtig,2,4,1 = sehr wichtig,1 = sehr wichtig,,Feminin,
2,145.0,19.0,Student,A2,"Mischform (teilweise strukturiert, teilweise f...",Die Unibib der TU Dresden ist ein wunderbares ...,2,1 = sehr wichtig,3,"technisches equipment muss vorhanden sein, z.b...",...,1 = sehr wichtig,2,3,3,2,1 = sehr wichtig,2,,Maskulin,
3,268.0,19.0,Student,A3,Strukturierte Raumgestaltung mit mehreren Kabinen,,1 = sehr wichtig,2,2,Tageslicht,...,1 = sehr wichtig,5 = überhaupt nicht wichtig,5 = überhaupt nicht wichtig,3,2,1 = sehr wichtig,1 = sehr wichtig,,Maskulin,
4,364.0,19.0,Student,A2,Flexible Raumgestaltung mit beweglichen Möbeln...,,2,3,2,Siehe vorheriger punkt und auch zusammen arbei...,...,3,4,5 = überhaupt nicht wichtig,4,3,1 = sehr wichtig,3,Pflanzen,Feminin,

In [4]:
#how are the variables defined in SPSS?
df.dtypes

id           float64
lastpage     float64
b2          category
D1_SQ005    category
E1          category
E11           object
E2_SQ001    category
E2_SQ002    category
E2_SQ003    category
E22           object
E3_SQ001    category
E3_SQ002    category
E3_SQ003    category
E3_SQ004    category
E3_SQ005    category
E3_SQ006    category
E3_SQ007    category
E3_SQ008    category
E3_SQ009    category
E33           object
G1          category
H1            object
dtype: object

In [5]:
#looking good, no further data manipulation necessary

In [6]:
#######################Hypothesis Tests########################
from scipy.stats import chi2

In [7]:
#analyze E1 'Welche Form der Raumgestaltung würden Sie für Gruppenarbeitsplätze bevorzugen?'
#Pearson Chi² Test according to https://www.methodenberatung.uzh.ch/de/datenanalyse_spss/zusammenhaenge/pearsonzush.html
e1=pd.crosstab(df['G1'],df['E1']) #create contingency table
print('Kontingenztabelle E1')
e1

Kontingenztabelle E1

E1,Flexible Raumgestaltung mit beweglichen Möbeln und mobilen Trennelementen,Keine Präferenz,"Mischform (teilweise strukturiert, teilweise flexibel)",Strukturierte Raumgestaltung mit mehreren Kabinen
G1,,,,
Feminin,14,9,67,31
Maskulin,11,10,33,26
Nicht-Binär,1,1,6,1

In [8]:
#Problem: According to https://www.methodenberatung.uzh.ch/de/datenanalyse_spss/zusammenhaenge/pearsonzush.html Pearson Chi² 
#must not be used on cell sizes < 5. The Fisher Test (f-test) could be used alternatively, but only works on 2x2 contingencies
#-> we would need to exclude NB gender to test H0 via Pearson Chi²

In [9]:
# and in percentages?
print('Kontingenztabelle E1 prozentual')
e1.apply(lambda row: row*100/row.sum(),axis=1)

Kontingenztabelle E1 prozentual

E1,Flexible Raumgestaltung mit beweglichen Möbeln und mobilen Trennelementen,Keine Präferenz,"Mischform (teilweise strukturiert, teilweise flexibel)",Strukturierte Raumgestaltung mit mehreren Kabinen
G1,,,,
Feminin,11.570248,7.438017,55.371901,25.619835
Maskulin,13.750000,12.500000,41.250000,32.500000
Nicht-Binär,11.111111,11.111111,66.666667,11.111111

In [10]:
# H0 = 'E1:Es gibt einen Zusammenhang zwischen Gender und Raumauswahlpräferenz'
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 3*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e1) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H0)')
else:
	print('-> Independent (reject H0)')

p value: 0.4621101585347771
-> Independent (reject H0)

In [11]:
#What would happen if we exclude NB gender?
#df[(df['G1'] != 'Nicht-Binär')]['G1']
e1a=pd.crosstab(df[(df['G1'] != 'Nicht-Binär')]['G1'],df[(df['G1'] != 'Nicht-Binär')]['E1']) #create contingency table
#e1=pd.crosstab(df['G1'],df['E1']) #create contingency table
print('Kontingenztabelle E1a')
e1a

Kontingenztabelle E1a

E1,Flexible Raumgestaltung mit beweglichen Möbeln und mobilen Trennelementen,Keine Präferenz,"Mischform (teilweise strukturiert, teilweise flexibel)",Strukturierte Raumgestaltung mit mehreren Kabinen
G1,,,,
Feminin,14,9,67,31
Maskulin,11,10,33,26

In [12]:
#E1a
dof = 3*1
stat, p, dof, expected = scipy.stats.chi2_contingency(e1a) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H0)')
else:
	print('-> Independent (reject H0)')

p value: 0.23829113873392216
-> Independent (reject H0)

In [13]:
#it's even less significant, continue other hypothesis tests

In [14]:
#analyze E2_SQ001 'Unabhängig von den Öffnungszeiten der Bibliothek nutzbar'
e2_1=pd.crosstab(df['G1'],df['E2_SQ001']) #create contingency table
print('Kontingenztabelle E2_SQ001')
e2_1

Kontingenztabelle E2_SQ001

E2_SQ001     1 = sehr wichtig   2   3  4  5 = überhaupt nicht wichtig
G1
Feminin                    52  43  15  8                            3
Maskulin                   43  16  11  7                            3
Nicht-Binär                 5   2   2  0                            0

In [15]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e2_1) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H1)')
else:
	print('-> Independent (reject H1)')

p value: 0.4739167543309717
-> Independent (reject H1)

In [16]:
#analyze E2_SQ002 
e2_2=pd.crosstab(df['G1'],df['E2_SQ002']) #create contingency table
print('Kontingenztabelle E2_SQ002')
e2_2

Kontingenztabelle E2_SQ002

E2_SQ002     1 = sehr wichtig   2   3   4  5 = überhaupt nicht wichtig
G1
Feminin                    54  34  22   3                            8
Maskulin                   29  26  11  10                            4
Nicht-Binär                 5   2   2   0                            0

In [17]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e2_2) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H2)')
else:
	print('-> Independent (reject H2)')

p value: 0.1698526297854763
-> Independent (reject H2)

In [18]:
#analyze E2_SQ003 'Unabhängig von den Öffnungszeiten der Bibliothek nutzbar'
e2_3=pd.crosstab(df['G1'],df['E2_SQ003']) #create contingency table
print('Kontingenztabelle E2_SQ003')
e2_3

Kontingenztabelle E2_SQ003

E2_SQ003     1 = sehr wichtig   2   3  4  5 = überhaupt nicht wichtig
G1
Feminin                    58  35  18  6                            4
Maskulin                   41  22   8  3                            6
Nicht-Binär                 5   1   2  1                            0

In [19]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e2_3) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H3)')
else:
	print('-> Independent (reject H3)')

p value: 0.6779116305496574
-> Independent (reject H3)

In [20]:
#analyze E3_SQ001 
e3_1=pd.crosstab(df['G1'],df['E3_SQ001']) #create contingency table
print('Kontingenztabelle E3_SQ001')
e3_1

Kontingenztabelle E3_SQ001

E3_SQ001     1 = sehr wichtig   2   3   4  5 = überhaupt nicht wichtig
G1
Feminin                    18  28  46  17                           12
Maskulin                   11  18  23  17                           11
Nicht-Binär                 0   2   3   3                            1

In [21]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e3_1) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H4)')
else:
	print('-> Independent (reject H4)')

p value: 0.656585905254861
-> Independent (reject H4)

In [22]:
#analyze E3_SQ002
e3_2=pd.crosstab(df['G1'],df['E3_SQ002']) #create contingency table
print('Kontingenztabelle E3_SQ002')
e3_2

Kontingenztabelle E3_SQ002

E3_SQ002     1 = sehr wichtig   2   3   4  5 = überhaupt nicht wichtig
G1
Feminin                    32  43  25  13                            8
Maskulin                   16  32  20   7                            5
Nicht-Binär                 2   5   1   1                            0

In [23]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e3_2) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H5)')
else:
	print('-> Independent (reject H5)')

p value: 0.8941620218564533
-> Independent (reject H5)

In [24]:
#analyze E3_SQ003
e3_3=pd.crosstab(df['G1'],df['E3_SQ003']) #create contingency table
print('Kontingenztabelle E3_SQ003')
e3_3

Kontingenztabelle E3_SQ003

E3_SQ003     1 = sehr wichtig   2   3   4  5 = überhaupt nicht wichtig
G1
Feminin                    40  29  30  16                            6
Maskulin                   30  26  18   5                            1
Nicht-Binär                 2   4   2   0                            1

In [25]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e3_3) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H6)')
else:
	print('-> Independent (reject H6)')

p value: 0.3198667476571227
-> Independent (reject H6)

In [26]:
#analyze E3_SQ004 
e3_4=pd.crosstab(df['G1'],df['E3_SQ004']) #create contingency table
print('Kontingenztabelle E3_SQ004')
e3_4

Kontingenztabelle E3_SQ004

E3_SQ004     1 = sehr wichtig   2   3   4  5 = überhaupt nicht wichtig
G1
Feminin                    11  27  43  21                           19
Maskulin                   10  20  29  11                           10
Nicht-Binär                 0   1   6   2                            0

In [27]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e3_4) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H7)')
else:
	print('-> Independent (reject H7)')

p value: 0.5707541609262008
-> Independent (reject H7)

In [28]:
#analyze E3_SQ005
e3_5=pd.crosstab(df['G1'],df['E3_SQ005']) #create contingency table
print('Kontingenztabelle E3_SQ005')
e3_5

Kontingenztabelle E3_SQ005

E3_SQ005     1 = sehr wichtig   2   3   4  5 = überhaupt nicht wichtig
G1
Feminin                    12  22  44  23                           20
Maskulin                    9  19  19  17                           16
Nicht-Binär                 1   2   1   3                            2

In [29]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e3_5) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H8)')
else:
	print('-> Independent (reject H8)')

p value: 0.6711699111625892
-> Independent (reject H8)

In [30]:
#analyze E3_SQ006
e3_6=pd.crosstab(df['G1'],df['E3_SQ006']) #create contingency table
print('Kontingenztabelle E3_SQ006')
e3_6

Kontingenztabelle E3_SQ006

E3_SQ006     1 = sehr wichtig   2   3   4  5 = überhaupt nicht wichtig
G1
Feminin                    16  32  45  16                           12
Maskulin                   19  23  22  10                            6
Nicht-Binär                 2   3   3   1                            0

In [31]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e3_6) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H9)')
else:
	print('-> Independent (reject H9)')

p value: 0.6608339002491689
-> Independent (reject H9)

In [32]:
#analyze E3_SQ007
e3_7=pd.crosstab(df['G1'],df['E3_SQ007']) #create contingency table
print('Kontingenztabelle E3_SQ007')
e3_7

Kontingenztabelle E3_SQ007

E3_SQ007     1 = sehr wichtig   2   3   4  5 = überhaupt nicht wichtig
G1
Feminin                    22  35  39  18                            7
Maskulin                   18  24  21  12                            5
Nicht-Binär                 1   5   2   0                            1

In [33]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e3_7) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H10)')
else:
	print('-> Independent (reject H10)')

p value: 0.7314857418415885
-> Independent (reject H10)

In [34]:
#analyze E3_SQ008
e3_8=pd.crosstab(df['G1'],df['E3_SQ008']) #create contingency table
print('Kontingenztabelle E3_SQ008')
e3_8

Kontingenztabelle E3_SQ008

E3_SQ008     1 = sehr wichtig  2  3  4  5 = überhaupt nicht wichtig
G1
Feminin                   109  7  3  0                            2
Maskulin                   71  7  1  1                            0
Nicht-Binär                 7  1  0  1                            0

In [35]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e3_8) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H11)')
else:
	print('-> Independent (reject H11)')

p value: 0.08294200915691691
-> Independent (reject H11)

In [36]:
#analyze E3_SQ009
e3_9=pd.crosstab(df['G1'],df['E3_SQ009']) #create contingency table
print('Kontingenztabelle E3_SQ009')
e3_9

Kontingenztabelle E3_SQ009

E3_SQ009     1 = sehr wichtig   2   3   4  5 = überhaupt nicht wichtig
G1
Feminin                    29  35  33  19                            5
Maskulin                   35  21  15   8                            1
Nicht-Binär                 2   0   5   2                            0

In [37]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e3_9) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H12)')
else:
	print('-> Independent (reject H12)')

p value: 0.030288534076170815
-> Dependent (fail to reject H12)

In [38]:
#can't believe it, let's look at the percentages

print('Kontingenztabelle E3_9 prozentual')
e3_9.apply(lambda row: row*100/row.sum(),axis=1)

Kontingenztabelle E3_9 prozentual

E3_SQ009,1 = sehr wichtig,2,3,4,5 = überhaupt nicht wichtig
G1,,,,,
Feminin,23.966942,28.92562,27.272727,15.702479,4.132231
Maskulin,43.750000,26.25000,18.750000,10.000000,1.250000
Nicht-Binär,22.222222,0.00000,55.555556,22.222222,0.000000

In [39]:
#What would happen if we exclude NB gender?
#df[(df['G1'] != 'Nicht-Binär')]['G1']
e3_9a=pd.crosstab(df[(df['G1'] != 'Nicht-Binär')]['G1'],df[(df['G1'] != 'Nicht-Binär')]['E3_SQ009']) #create contingency table
#e1=pd.crosstab(df['G1'],df['E1']) #create contingency table
print('Kontingenztabelle E3_9a')
e3_9a

Kontingenztabelle E3_9a

E3_SQ009  1 = sehr wichtig   2   3   4  5 = überhaupt nicht wichtig
G1
Feminin                 29  35  33  19                            5
Maskulin                35  21  15   8                            1

In [40]:
sig = 0.95 #'p value' or 'significance' of 0.95 is pretty much standard in science
# Calculation of degrees of freedom (dof) : (rows - 1) * (cols - 1)
dof = 4*2
stat, p, dof, expected = scipy.stats.chi2_contingency(e3_9a) #https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
#print(expected) #This is what the expected values for a chi² distribution would look like
critical = chi2.ppf(sig, dof)
print('p value: '+str(p))
if abs(stat) >= critical:
	print('-> Dependent (fail to reject H12)')
else:
	print('-> Independent (reject H12)')

p value: 0.040190321525086746
-> Dependent (fail to reject H12)